# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
build/
dist/

# --- Virtual environment ---
venv/
.venv/

# --- IDE / Editor ---
.vscode/
.idea/

# --- OS-specific ---
.DS_Store
Thumbs.db

# --- Logs & temp files ---
*.log
*.tmp

# --- Sensitive data ---
vault.bin
vault.pmdb
dev-notes.md
original.png
# --- Cache ---
*.cache